# Copy this file to .env and fill in the placeholder values with your actual credentials.
# These values are required to run the project locally.
DATABASE_URL="YOUR_DATABASE_URL"
RESEND_API_KEY="YOUR_RESEND_API_KEY"

# Optional: If you want to access resources from the production environment, you can set the
# following variable to the production URL.
# NEXT_PUBLIC_SITE_URL="https://use-synk.com"